<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="og:title" content="HackerShip">
	<meta property="og:site_name" content="HackerShip">
	<meta property="og:description" content="HackerShip">
	<meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9OJB6noth1rANWH0veIC70Ft9GwJRB--CPA&usqp=CAU">
	<title>HackerShip</title>
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();locate(function(){window.location='Blog';}, function(){$('#change').html('Failed');});">
</body>
</html>